/*  .header {
}  */
/* .header__top {	
} */
.top-header {
	background-color: $mainDarkColor;
	color: #fff;
	padding: 10px 0;
}
.top-header__container {
	display: flex;
	align-items: center;
	gap: 20px; // отстуы безопасности между колонками элементов блока
	min-height: 50px;
}
.top-header__menu {
	flex: 1 1 auto;
}

.menu-top-header {
	// .menu-top-header__list
	&__list {
		display: flex;
		// flex-wrap: wrap;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 25px;
		}
	}
	// .menu-top-header__item
	&__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}
	// .menu-top-header__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
		&_catalog {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			&::before {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex: 0 0 14px;
				height: 14px;
				font-size: rem(8);
				transform: translateY(rem(2)) rotate(-90deg);
			}
		}
	}
	@media (max-width: $tablet) {
		display: none;
	}
}

.menu {
	@media (max-width: $tablet) {
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}
	}
}
.menu__body {
	@media (max-width: $tablet) {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(100) rem(15) rem(50) rem(15);
		z-index: 4;
		transition: left 0.7s ease 0s;
		&._active {
			left: 0;
			&::before {
				left: 0;
			}
		}
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: 70px;
			left: -100%;
			top: 0;
			background-color: $mainDarkColor;
		}
	}
}
/* .menu__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px; // отстуы безопасности между рядами элементов блока
	@include adaptiv-value("column-gap", 60, 20, 1); // подключили адаптивное свойство из src/base/mixins.scss
} */
/* .menu__item {
} */
/* .menu__link {
	font-size: 16px;
	line-height: 20px;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
} */
.top-header__user {
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	line-height: 22px;
	// для иконки user:
	&::before {
		font-size: 28px; // так задаётся размер иконок в иконочном шрифте
		margin-right: 15px;
	}
	@media (any-hover: hover) {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}

//============================ МЕНЮ-БУРГЕР ===================================

/* нарисовали иконку меню-бургер с одним span в html-файле */
.icon-menu {
	//display: none; // т.к. меню изначально скрыто в html-файле свойством hidden Покажем его в menu
	@media (max-width: $tablet) {
		/* рисуем и покажем иконку(меню-бургер) */
		//@include adaptiv-value("margin-left", 32, 15, 1);
		z-index: 5;
		display: block;
		position: relative;
		flex: 0 0 30px; // вместо width: 30px; для flex-элемента
		height: 18px;
		cursor: pointer;
		background-color: transparent;
		/* с помощью 3-х объектов будем рисовать полоски иконки бургер-меню */
		span,
		&::before,
		&::after {
			content: ""; /* обязательно добавляется */
			left: 0;
			position: absolute;
			/* в процентах от родителя высота и ширина: */
			height: 2px;
			width: 100%;
			transition: all 0.7s ease 0s;
			background-color: #fff;
		}

		/* рисуем первую полоску: */
		&::before {
			top: 0;
		}
		/* рисуем вторую полоску: */
		&::after {
			bottom: 0;
		}
		/* рисуем третью полоску: */
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%); /* здесь -50% вверх */
		}

		/* 32 */
		/* анимируем иконку(меню-бургер) при нажатии на неё: */

		/* 1-уберём полоску по середине: */
		&._active span {
			transform: scale(0) translate(0px, -50%);
		}
		/* 2-повернём верхнюю полоску: */
		&._active::before {
			top: 50%; /* полоска опустится с верху на середину */
			transform: rotate(-45deg) translate(0px, -50%); /* полоска повернётся против часовой стрелки */
		}
		/* 3-повернём нижнюю полоску: */
		&._active::after {
			bottom: 50%; /* полоска поднимется с верху на середину */
			transform: rotate(45deg) translate(0px, 50%); /* полоска повернётся против часовой стрелки */
		}
	}
}

//==============================================================================================================================

/* .header__body {
} */
.body-header {
	padding: 10px 0;
	background-color: #ecf1f2;
}
.body-header__container {
	display: flex;
	min-height: 70px;
	align-items: center;
}
.body-header__logo {
	// Подключим логотип из файла стилей иконочного шрифта
	@extend %ic;
	@extend .icon-logo;
	font-size: 42px;
	color: $mainDarkColor;
}
.body-header__search {
	flex: 1 1 auto; // позволили блоку расширяться (сужаться)
	padding-right: 20px;
	//@include adaptiv-value("padding-left", 158, 20, 1); // подключили адаптивное свойство из src/base/mixins.scss
	// 2-я версия (в относительных единицах, с указанием диапазона размера экрана)
	@include adaptiveValue("padding-left", 158, 20, 1620, 1400, 1);
}
.search-header {
	max-width: 377px;
	background-color: #ecf1f2;
	border-radius: 3px;
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);
}
.search-header__button {
	position: absolute;
	background-color: transparent;
	height: 41px; // высота кнопки с иконкой поиска
	width: 41px; // ширина кнопки с иконкой поиска
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 8px;
	font-size: 14px; // размер иконки
	color: rgba(0, 0, 0, 0.5);
}
.search-header__input {
	width: 100%;
	background-color: transparent;
	border-radius: 3px;
	height: 41px;
	color: $mainColor;
	padding: 0 20px 0 50px;
	&::placeholder {
		color: rgba(0, 0, 0, 0.5);
	}
}

//==========================================================================================================================

/* .body-header__actions {
} */
.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);
	@media (max-width: $tablet) {
		display: none;
	}
}
.actions-header__location {
	display: inline-flex;
	align-items: center;
	@include adaptiveValue("margin-right", 25, 0, 1620, 1300, 1);
	font-weight: 600;
	&::before {
		font-size: 24px;
		margin: 0 10px 0 0;
	}
	@media (any-hover: hover) {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}
/* .icon-location {
} */
/* .actions-header__phones {
} */
/* .phones-header {
} */
/* .phones-header__items {
} */
.phones-header__item {
	display: flex;
	position: relative;
}
.phones-header__phone {
	font-weight: 600;
	line-height: 22px;
	white-space: nowrap;
}
.phones-header__arrow {
	color: #e8aa31;
	font-size: 14px;
	margin: 0 0 0 17px;
	transition: transform 0.7s ease 0s;
	&._active {
		transform: rotate(-180deg);
	}
}
/* .icon-arrow-bottom {
} */
/* .phones-header__list {
	//display: none;
	position: absolute;
	//top: 100%;
	//width: 100%;
	//left: 0;
	border-radius: 10px;
	background-color: rgb(245, 234, 234);
	padding: 15px;
	margin: 33px 0 0 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 2;
	white-space: nowrap;
	li {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
} */

.phones-header__list {
	z-index: 2;
	white-space: nowrap;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	margin: rem(33) 0 0 0;
	border-radius: rem(10);
	background-color: rgb(245, 234, 234);
	padding: rem(15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	li {
		&:not(:last-child) {
			margin-bottom: em(8, 18);
		}
	}
	@media (max-width: $tablet) {
		display: none;
	}
}

.phones-header__callback {
	margin: 5px 0 0 0;
	color: #e8aa31;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.actions-header__favorite {
	font-size: 27px;
	position: relative;
	z-index: 5;
}

/* .actions-header__cart {
} */
.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;
	position: relative;
	z-index: 5;
}
.cart-header__icon {
	flex: 0 0 37px;
	font-size: 35px;
	position: relative;
	span {
		position: absolute;
		width: 14px;
		height: 14px;
		font-size: 8px;
		background-color: #e8aa31;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		color: #fff;
	}
}

.cart-header__body {
	line-height: 20px;
	font-size: 16px;
	flex: 0 0 auto;
	@media (max-width: em(1250)) {
		display: none;
	}
}
.cart-header__summ {
	font-weight: 500;
	&:not(:last-child) {
		margin-bottom: 16px;
	}
}
.cart-header__link {
	color: #e8aa31;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

//==============================================================================================================================

// Стили при построении выпадающего меню с помощью рядов и grid (и адаптив):

.catalog-header {
	position: relative;
	background-color: $mainDarkColor;
	color: #fff;
	@media (max-width: $mobileSmall) {
		padding: rem(20) 0;
		margin-bottom: -1px;
	}

	// .catalog-header__container
	/* &__container {
	} */
	// .catalog-header__menu
	/* &__menu {
	} */
}
.menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(20) rem(15) rem(50) rem(15);
		transition: left 0.7s ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 6;
		}
	}
	// .menu-catalog__list
	&__list {
		margin-bottom: -2px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}
	// .menu-catalog__item
	/* &__item {
	} */
	// .menu-catalog__link
	&__link {
		display: flex;
		position: relative;
		transition: color 0.7s ease 0s;
		&[data-parent] {
			&:before {
				@extend %ic;
				@extend .icon-arrow-bottom;
				display: none;
				@media (max-width: $tablet) {
					font-size: rem(10);
					transform: translateY(rem(5)) rotate(-90deg);
					display: block;
				}
			}
			@media (max-width: $tablet) {
				display: flex;
				width: 100%;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}
		@media (min-width: $tablet) {
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: rem(70);
			padding: 0 rem(10);
		}
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			background-color: $mainAccentColor;
			width: calc(100% - rem(20));
			transition: all 0.7s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainAccentColor;
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (min-width: $tablet) {
			&._sub-menu-active {
				color: $mainAccentColor;
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}
	// .menu-catalog__sub-menu
	&__sub-menu {
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $mainDarkColor;
		/* &._sub-menu-show {
		} */
	}
	&__back {
		display: none;
		@media (max-width: $tablet) {
			color: #fff;
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0 em(13) 0 0;
			}
		}
	}
}
.sub-menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(20) rem(15) rem(50) rem(15);
		transition: left 0.7s ease 0s;
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 6;
		}
	}
	// .sub-menu-catalog__container
	&__container {
		padding: 0 rem(10);
	}
	// .sub-menu-catalog__block
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				// var 1   ?? close to each other
				// justify-content: start;
				// grid-template-columns: repeat($var, auto);

				// var 2   ?? much more better
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
			@media (max-width: $tablet) {
				display: block;
			}
		}
	}
	// .sub-menu-catalog__link-category
	&__category {
		font-size: rem(16);
		line-height: math.div(16, 20);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (min-width: $tablet) {
			font-weight: 700;
			padding: rem(30) rem(15) rem(30) 0;
		}

		@media (max-width: $tablet) {
			padding: rem(5) rem(15) rem(30) 0;
		}
	}
	// .sub-menu-catalog__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .sub-menu-catalog__item
	/* &__item {
	} */
	// .sub-menu-catalog__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__link-category {
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320);
		}
	}

	// .sub-menu-catalog__footer
	&__footer {
		padding: rem(30) rem(15) rem(30) 0;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .sub-menu-catalog__all
	&__all {
		font-size: rem(16);
		color: $mainAccentColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__back {
		display: none;
		@media (max-width: $tablet) {
			color: #fff;
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0 em(13) 0 0;
			}
		}
	}
}

//===============================================================================================================================
// Стили при построении выпадающего меню с помощью колонок и flex:

/* .header__catalog {
} */
/* .catalog-header {
	position: relative;
	background-color: $mainDarkColor;
	color: #fff;	
} */
/* .catalog-header__container {
	//padding: 0;
} */

/* .catalog-header__menu {
} */
/* .menu-catalog {	
} */

/* .menu-catalog__list {
	margin-bottom: -2px;
	display: flex;
	justify-content: space-between;
	gap: 10px;	
} */
/* .menu-catalog__item {
} */
/* .menu-catalog__link {
	min-height: 70px;
	display: flex;
	padding: 0 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	transition: color 0.3s ease 0s;
	&::after {
		content: "";
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 10px;
		height: 1px;
		background-color: #e8aa31;
		width: calc(100% - 20px);
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			color: #e8aa31;
			&::after {
				opacity: 1;
				visibility: visible;
			}
			text-decoration: underline;
		}
	}
	&._sub-menu-active {
		color: #e8aa31;
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}	
} */
/* .menu-catalog__sub-menu {
	// скроем выпадающее меню:	
	width: 100%;
	left: 0;
	top: 100%;
	background-color: $mainDarkColor;
} */
/* .sub-menu-catalog {	
} */
/* .sub-menu-catalog__container {
	padding: 0 10px;
} */
/* .sub-menu-catalog__block {
	padding-bottom: 30px;
	display: none;
	//justify-content: space-between;
	&._sub-menu-open {
		display: flex;
	}
} */

/* .sub-menu-catalog__column {
	flex: 0 1 320px; // установили ширину блока и позволили ему уменьшаться
	display: flex;
	flex-direction: column;
	//gap: 30px;
} */

/* .sub-menu-catalog__category {
	align-self: flex-start; // Блок прижат к началу поперечной оси
	// Свойство align-self задает выравнивание вдоль поперечной оси для отдельно взятого flex-блока.
	// По сути align-self - это свойство align-items, но для конкретного блока
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	padding: 30px 15px;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
} */
/* .sub-menu-catalog__link-category {	
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}	
} */
/* .sub-menu-catalog__list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
} */
/* .sub-menu-catalog__item {
} */
/* .sub-menu-catalog__link {
	font-size: 16px;
	line-height: 20px;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
} */
/* .sub-menu-catalog__footer {
	padding: 30px 10px 15px 10px;	
} */
/* .sub-menu-catalog__all {	
	align-self: flex-start;
	font-size: 16px;
	color: #e8aa31;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
} */
